*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
main{
    margin-top: 25%;
    text-align: center;
}
kbd{
    padding: 25px 30px;
    display: inline-block;
    margin: 5px 5px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
#yxx{
    display: inline-block;
}
#yxx>div:nth-child(2){
margin-left: 1.5px ;
}
#y>div:nth-child(3){
    margin-left: 3px;
}
