*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
body{
  background: rgb(117, 116, 116) url(./wall.jpg)  no-repeat center center; 
  background: cover;
}
main{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.key{
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(17,17,17,1) 100%);border:1px solid #373737;
    color:#c5c5c5;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f202020,0 3px 0 1px #000000;
    height: 51px;
    width: 55px;
    display: inline-block;
    margin: 2px 3px;
    text-transform: capitalize;
    border-radius: 10px;
    position: relative;
    font-size:18px;
    font-family: Helvetica;
}
.key > .text{
    position: absolute;
    left: 3px;
    top: 0;
}
.key>img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 5px;
    bottom: 0;
}
div.row{
    margin: 5px;
}
div.row> .key{
    margin-left: 5px;
    margin-right: 5px;
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
#yxx{
    display: inline-block;
}
#yxx>div:nth-child(2){
margin-left: -29.5px ;
}
#yxx>div:nth-child(3){
    margin-left: -110px;
}
